<% content_for :title, "New fuel type" %>

<div class="w-25">
  <h1>Přida palivo</h1>

  <%= render "form", fuel_type: @fuel_type %>

  <br>

  <div>
    <%= link_to "Zpět na seznam paliv", fuel_types_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
