<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vozidlo:</strong>
    <%= vehicle.name %>
  </p>

  <p>
    <strong>Spotřeba paliva:</strong>
    <%= vehicle.fuel_consumption %>
  </p>

  <p>
    <strong>Celkem najeto km:</strong>
    <%= vehicle.total_km %>
  </p>

</div>
