<div class="w-50">
<% content_for :title, "Nové vozidlo" %>

<h1>Nové vozidlo</h1>

<%= render "form", vehicle: @vehicle %>

<br>

<div>
  <%= link_to "Zpět na vozový park", vehicles_path, class: "btn btn-outline-secondary" %>
</div>
</div>
